.repo-list {
  height: calc(100% - 45px - 45px);
  overflow: auto;
  padding: 10px 15px;

  &__item {
    list-style: none;
    height: 55px;
    border: 1px solid gray;
    border-radius: 5px;

    box-shadow: 4px 3px 5px black;

    & + & {
      margin-top: 8px;
    }
  }
}