.paginator {
  width: auto;
  max-height: 55px;

  padding: 25px 30px;
  box-sizing: content-box;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &__item {
    width: 35px;
    height: 30px;

    border: none;
    background: #c0bfbf;

    color: white;
    font-size: 1.3rem;

    &--active {
      background: #a4a3a3;
    }
  }
}